.product-item.list-item {
  img {
    max-width: 100%;
  }
  h3 {
    &:hover {
      text-decoration: underline;
    }
  }
  .details {
    height: 100%;
    width: 100%;
    position: relative;
  }
  .product-controls {
    button {
      margin-right: 5px;
    }
  }
}
